<style>
    .bg-dark{
        background-color: transparent !important;
    }   
    .nav-link{
        border-bottom: 2px solid transparent;
        padding-left: 0;
        padding-right: 0;
    }
    .nav-link:hover{
        border-bottom-color: white;
    }
    .navbar{
        z-index: 2;
    }
    .navbar-toggler:focus{
        box-shadow: none !important;
    }
    @media only screen and (max-width: 768px){
        .my-inner-nav{
            background-color: rgba(0, 0, 0, 0.6);
        }
        .my-inner-nav a:nth-of-type(1){
        border-bottom-color: transparent !important;
        color: white !important;
        }
    }
    footer{
        z-index: 2;
    }
    .my-inner-nav a:nth-of-type(1){
        border-bottom-color: white;
        color: white !important;
    }
</style>

<main class="container-xxl homepage text-white text-center">
    <h1 class="fw-normal">YelpCamp</h1>
    <p class="lead">Welcome to YelpCamp! <br>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero voluptatibus iure ratione fugit nostrum deserunt, sit et sequi, vel velit, obcaecati ipsam labore repellat dolor eos excepturi non molestiae commodi aut in hic. Iusto corporis qui cupiditate dolores soluta explicabo.
    </p>
    <a class="btn btn-light" href="/campgrounds">View Campgrounds</a>
</main>
 