<style>
    .bg-dark{
        background-color: transparent !important;
    }
    body{
        background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url('https://images.unsplash.com/photo-1533873984035-25970ab07461?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1474&q=80');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .homepage{
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 400px;
    }
    @media only screen and (min-width: 768px){
        .nav-link{
        border-bottom: 1px solid transparent;
        }
        a:nth-child(1){
            border-bottom-color: white;
            color: white !important;
        }
    }
    
</style>

<main class="container-xxl homepage text-white text-center" style="max-width: 800px;">
    <h1 class="fw-normal">YelpCamp</h1>
    <p class="lead">Welcome to YelpCamp! <br>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero voluptatibus iure ratione fugit nostrum deserunt, sit et sequi, vel velit, obcaecati ipsam labore repellat dolor eos excepturi non molestiae commodi aut in hic.
    </p>
    <a class="btn btn-light" href="/campgrounds">View Campgrounds</a>
</main>
 