@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
*{
    font-family: 'Rubik', sans-serif;
}
nav .title{
    font-family: 'Lobster Two', cursive;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 500;
}

/*campground forms */
.general-form{
    max-width: 600px;
    margin: auto;
    box-shadow: 1px 5px 29px -5px rgba(0,0,0,0.1);
    -webkit-box-shadow: 1px 5px 29px -5px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 5px 29px -5px rgba(0,0,0,0.1);
}
.login-form{
    max-width: 400px;
}

/* review */
.campground-review{
    position: relative;
}
.campground-review .campground-review-del{
    position: absolute;
    top: 5px;
    right: 5px;
}


/* show page */
.show-page-carousel{
    max-height: 400px;
}
/* edit form image gallery */
.edit-form-images{
    display: flex;
    justify-content: start;
    gap: 20px 0;
    flex-wrap: wrap;
}
.edit-img-wrapper{
    height: 100px;
    width: 100px;
}
.edit-img-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}



/* alerts */
.alert-dismissible{
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 100;
}
.alert-danger.alert-dismissible{
    animation-name: error-alert;
    animation-iteration-count: 3;
    animation-duration: 0.2s;
}
@keyframes error-alert{
    0%{transform: translateX(0px);}
    33%{transform: translateX(+20px);}
    66%{transform: translateX(-20px);}
    100%{transform: translateX(0px);}
}