<main class="container my-5">

    

    <div class="card general-form my-3">
        <img src="/img/register.jpg"  class="card-img-top register-form-image" alt="">
        <div class="card-body">
            <h3 class="fw-normal">Register</h3>
            <form action="/register" method="POST" novalidate class="validated-form">
                <div class="my-3">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" required type="text" name="username" id="username">
                    <div class="valid-feedback">seems goods</div>
                    <div class="invalid-feedback">Feild is required</div>
                </div>
                <div class="my-3">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" required type="email" name="email" id="email">
                    <div class="valid-feedback">seems goods</div>
                    <div class="invalid-feedback">Feild is required</div>
                </div>
                <div class="my-3">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" required type="password" name="password" id="password">
                    <div class="valid-feedback">seems goods</div>
                    <div class="invalid-feedback">Feild is required</div>
                </div>
        
                <button class="btn btn-success">Register</button>
            </form>
        </div>
      </div>


</main>